@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-danger: #f43f5e;
  --color-bg-dark: #0f172a;
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 font-sans;
    background-color: var(--color-bg-dark);
  }
}
